@charset    "UTF-8";


/*Fonte dos titulos */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/*Fonte body*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
   margin: 0px;
}

h1, h2, h3, h4{
    font-family: 'Poppins', sans-serif;
}

img{
    display: block;
}

p{
    font-size: 20px;
}

a{
    text-decoration: none;
}

header{
    max-width: 1000px;
    margin: auto;
}

/*Meu nome em forma de logotipo / Cabeçalho */
#logo{
    color: #173756;
    width: 300px;
}

.cabecalho{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 30px;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    place-content: center;
    margin-top: 35px;
}

.menu a{
    text-decoration: none;
    color: #173756;
    padding: 0px 20px;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
}

.menu a:hover{
    text-decoration: underline;
    color: #173756;
}





/*Resumo de quem sou eu / Introdução*/

.bio{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.info-bio{
    margin-left: 60px;
}

#location{
    display: inline;
    max-width: 16px;
}

.bio img{
    width: 100%;
    height: 85%;
    border-radius: 100%;
    object-fit: cover;
    position: center;
}

.bio h1{
    font-weight: 600;
    font-size: 4rem;
    color: #173756;
    margin-bottom: -10px;
}

.bio h2{
    font-family: 'Roboto', sans-serif;
    color: #838383;
    font-weight: 200;
    font-size: 18px;
}

.bio p{
    font-size: 32px;
    padding-top: 50px;
    max-width: 400px;
    line-height: 38px;
    color: #343434;
}


/*Separador / Enfeite */

.enfeite{
    margin: auto;
    display: block;
    background-color: #F1971B;
    max-width: 450px;
    height: 3px;
    border: 1px solid transparent;
    margin-top: 30px;
}

.projetos{
    max-width: 1000px;
    margin-top: 73px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

/*Titulo "PROJETOS"*/

#projeto{
    margin: 0px 0px 0px 50px;
    font-size: 9em;
    font-weight: bolder;
    color: #FFD480;
}

.projetos p{
    padding-bottom: 50px;
    max-width: 400px;
    line-height: 38px;
    color: #343434;
    font-size: 24px;
}

.projetos h3{
    margin-left: 20px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 0;
    color: #173756;
    border-left: 4px solid transparent;
}

.projetos h3:hover{
    border-left: 4px solid #F1971B;
}





/*Usei o aside para agrupar todo o gride com as minhas formações e também para conseguir adicionar uma cor ao fundo*/

aside{
    background-color: #173756;
    max-width: 100vw;
    padding-bottom: 50px;
    padding-left: 50px;
}

/*Titulo "Formação" com quebra de linha*/
#formacao{
    color: #05192C;
    font-size: 7em;
    font-weight: bolder;
    padding-left: 30px;
}

/*Esse é o titulo "Formação" sem a quebra de linha*/
#formacao-mobile{
    display: none;
    color: #05192C;
    font-size: 5em;
    font-weight: bolder;
}

.formacao{ 
    display: grid;
}

/*Fiz essa classe largura, para conseguir dar um limite ao tamanho do conteúdo do aside sem descolar o background*/
.largura{
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 400px;
}

.largura img{
    max-width: 100%;
    margin-top: -40px;
}

.largura h3{
    font-size: 35px;
    font-weight: 500;
    color: #79A5CF;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 30px;
    border-top: 3px solid #09243F;
}

.largura h4{
    font-size: 18px;
    font-weight: 500;
    color: #09243F;
    margin-left:60px;
    padding: 2px 5px;
    border-radius: 4px;
    place-content: center;
    display: inline;
}

.largura h4:hover{
    color: #79A5CF;
    background-color: #09243F;
}

.largura p{
    font-size: 24px;
    max-width: 350px;
    color: #000911;
    margin-left: 30px;
}

.cursos{
    margin-top: 55px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.cursos span{
    display: grid;
    background-color: #79A5CF;
    padding: 5px 10px;
    font-size: 34px;
    border-radius: 4px;
}
 



/*Rodapé do Site*/
footer{
    background-color: #05192C;
    padding: 40px 0px;
}

footer img{
    width: 100%;
}

.detalhes{
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.detalhes p{
    margin-top: 100px;
    max-width: 350px;
    color: #CCE5FD;
    margin-left: 30px;
}

.contatos{
    grid-column: 1;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    margin-left: 50px;
    margin-top: 50px;
}

.contatos a:hover{
    text-decoration: underline;
}

.contatos img{
    width: 30px;
    height: 30px;
    margin: auto;
}

.contatos a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #CCE5FD;
    font-size: 25px;
}

/*IMAGEM PARA TELA GRANDE*/
#foto-alguma{
    margin-top: 10px;
    grid-column: 2;
}

/*IMAGEM TELAS PEQUENAS*/
#foto-footer{
    display: none;
    max-width: 450px;
}




/*Para telas menores 1020 pixels*/

@media (max-width: 1020px) and (min-width: 900px){

    .largura{
        max-width: 900px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 400px;
    }
    
    .largura img{
        padding-top: 100px;
        margin-top: 50px;
        width: 100%;
    }

/*alinhamento da imagem e do titulo formação dentro do aside*/

    #alinhando{
        padding-left: 40px;
    }
    
    #formacao{
        color: #05192C;
        font-size: 8em;
        font-weight: bolder;
        padding-left: 30px;
    }
}



/*Para telas menores 900 pixels*/

@media (max-width: 900px) and (min-width: 0px){


    .cabecalho{
        grid-template-columns: 180px 1fr;    
    }
    
    .menu{
        gap: 0px;
        justify-content: end;
    }

    .bio p{
        font-size: 24px;
        line-height: 28px;
    }

    .bio h1{
        font-size: 3rem;
    }
    
    .projetos p{
        line-height: 28px;
        font-size: 20px;
    }

    #projeto{
        display: grid;
        place-content: center;
        font-size: 5em;
    }

    .largura{
        grid-template-columns: 1fr 1fr;
    }
    
    .largura img{
        padding-top: 50px;
        margin-top: 50px;
        width: 100%;
    }

    .largura p{
        font-size: 20px;
    }

    .largura h3{
        font-size: 25px;
    }

    .cursos span{
        font-size: 24px;
    }

    #formacao{
        font-size: 5em;
    }

    #alinhando{
        margin-left: 40px;
    }

    .detalhes p{
        margin-left: 50px;
        font-size: 18px;
    }

    .contatos a{
        font-size: 20px;
    }
}




/*Para telas menores 750 pixels*/

@media (max-width: 750px) and (min-width: 0px){

    .bio h1{
        font-size: 2rem;
    }

    .bio h2{
        font-size: 15px;
    }

    .bio p{
        font-size: 22px;
        line-height: 28px;
    }

    .projetos p{
        line-height: 28px;
        font-size: 19px;
    }

    #formacao{
        display: none;
    }

    #formacao-mobile{
        display: inline;
    }

    #alinhando{
        grid-template-columns: 1fr;
        margin: auto;
    }

    .largura img{
        max-width: 450px;
    }

    .detalhes{
        grid-template-columns: 1fr;
        place-items: center;
    }

    .detalhes p{
        margin: auto;
        font-size: 24px;
        text-align: center;
    }

    #foto-alguma{
        display: none;
    }

    #foto-footer{
    display: inline;
    }
        

}




/*Para telas menores 600 pixels*/

@media (max-width: 600px) and (min-width: 0px){

    #logo{
        margin: auto;
        text-align: center;
    }

    .cabecalho{
        grid-template-columns: 1fr;
        margin-left: 0px;
    }

    .menu{
        justify-content: center;
        padding-left: 0px;
    }

    .projetos{
        grid-template-columns: 1fr;
        place-items: center;
        text-align: center;
    }

    .projetos h3{
        text-align: center;
        margin-left: 0px;
    }

    .info-bio{
        margin-left: 0px; 
    }

    .info-bio p{
        margin: 0 auto; 
    }

    .bio{
        text-align: center;
        grid-template-columns: 1fr ;
    }

    .bio img{
        max-width: 400px; 
    }

    aside{
        padding-left: 20px;
    }

    #projeto{
        margin-left: 0px;
    }

    .detalhes p{
        font-size: 20px;
    }

    .largura h4{
    font-size: 16px;
    margin-left: 0px;
    }

    .largura p{
        font-size: 20px;
        margin-left: 0px;
    }

    .cursos{
        gap: 20px;
    }

    .cursos span{
        font-size: 24px;
    }

    #formacao-mobile{
        font-size: 4em;
        text-align: center;
    }
}




/*Para telas menores 450 pixels*/

@media (max-width: 450px) and (min-width: 0px){

    aside{
        padding-left: 5px;
    }

    .largura{
        grid-template-columns:1fr;
        place-items: center;
        text-align: center;
    } 

    .largura h3{
        border-top: none;
        padding-top: 0px;
        margin-top: 0px;
    }

    .cursos{
        padding: 0px 0px 10px 0px;
        margin-bottom: 150px;
        margin-left: 0px;
    }

    .cursos span{
        font-size: 20px;
        margin-top: 10px;
    }

    #formacao-mobile{
        font-size: 3em;
        text-align: center;
    }

    .contatos a{
        font-size: 16px;
    }
}





/*Para telas menores 350 pixels*/

@media (max-width: 350px) and (min-width: 0px){

    .bio p{
        font-size: 20px;
    }

    .projetos p{
        font-size: 17px;
    }

    .largura p{
        font-size: 18px;
    }

    .contatos{
        margin-left: 20px;
    }
}

