@charset    "UTF-8";

/*
azul claro: #79A5CF
letras: #173756*




/*Fonte Meio */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/*Fonte body*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
   margin: 0px;
}

header{
    max-width: 1000px;
    margin: auto;
}


h1, h2, h3, h4{
    font-family: 'Poppins', sans-serif;
}

img{
    display: block;

}

p{
    font-size: 20px;
}

a{
    text-decoration: none;
}

#logo{
    color: #173756;
    width: 300px;
}

.cabecalho{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 50px;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    place-content: center;
    margin-top: 35px;
}

.menu a{
    text-decoration: none;
    color: #173756;
    padding: 0px 20px;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
}

.menu a:hover{
    text-decoration: underline;
    color: #173756;
}

.bio{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.info-bio{
    padding-left: 60px;
}

.bio img{
    width: 100%;
    height: 85%;
    border-radius: 100%;
    object-fit: cover;
    position: center;
}

.bio h1{
    font-weight: 600;
    font-size: 4rem;
    color: #173756;
    margin-bottom: -10px;
}

.bio h2{
    font-family: 'Roboto', sans-serif;
    color: #838383;
    font-weight: 200;
    font-size: 18px;
}

.bio p{
    font-size: 32px;
    padding-top: 50px;
    max-width: 400px;
    line-height: 38px;
    color: #343434;
}

.enfeite{
    margin: auto;
    display: block;
    background-color: #F1971B;
    max-width: 450px;
    height: 3px;
    border: 1px solid transparent;
    margin-top: 30px;
}



.projetos{
    max-width: 1000px;
    margin-top: 73px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

#projeto{
    padding: 0px;
    margin: 0px;
    font-size: 9em;
    font-weight: bolder;
    padding-left: 50px;
    color: #FFD480;
}

.projetos p{
    padding-bottom: 50px;
    max-width: 400px;
    line-height: 38px;
    color: #343434;
    font-size: 24px;
}

.projetos h3{
    padding-left: 30px;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 0;
    color: #173756;
    border-left: 4px solid transparent;
}

.projetos h3:hover{
    border-left: 4px solid #F1971B;

}

aside{
    background-color: #173756;
    max-width: 100vw;
    padding-bottom: 50px;
    padding-left: 50px;
}

.formacao{ 
    display: grid;
}

.largura{
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 400px;
}

.largura img{
    max-width: 100%;
    margin-top: -40px;
}

.largura h3{
    font-size: 35px;
    font-weight: 500;
    color: #79A5CF;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 30px;
    border-top: 3px solid #09243F;
}

.largura h4{
    font-size: 18px;
    font-weight: 500;
    color: #09243F;
    margin-top: 0px;
    padding: 0px 60px;
}

.largura p{
    font-size: 24px;
    max-width: 350px;
    color: #000911;
    padding-left: 30px;
}

.cursos{
    padding-top: 55px;
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.cursos span{
    display: grid;
    background-color: #79A5CF;
    padding: 5px 10px;
    font-size: 34px;
    border-radius: 4px;
}

#formacao{
    color: #05192C;
    font-size: 7em;
    font-weight: bolder;
    padding-left: 30px;
}

#formacao-mobile{
    display: none;
    color: #05192C;
    font-size: 5em;
    font-weight: bolder;
}


footer{
    background-color: #05192C;
    padding-top: 40px;
}

footer img{
    width: 100%;
}


.detalhes{
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.contatos{
    grid-column: 1;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    padding-left: 50px;
    padding-top: 40px;
}

.detalhes p{
    padding-top: 100px;
    max-width: 350px;
    color: #CCE5FD;
    padding-left: 30px;
}

.contatos img{
    width: 30px;
    height: 30px;
    margin: auto;
}

#foto-alguma{
    margin-top: 10px;
    grid-column: 2;
}

.contatos a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #CCE5FD;
    font-size: 25px;
}



@media (max-width: 1020px) and (min-width: 900px){

    .largura{
        max-width: 900px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 400px;
    }
    
    .largura img{
        padding-top: 100px;
        margin-top: 50px;
        width: 100%;
    }


    #alinhando{
        padding-left: 40px;
    }
    

    #formacao{
        color: #05192C;
        font-size: 8em;
        font-weight: bolder;
        padding-left: 30px;
    }
}





@media (max-width: 900px) and (min-width: 0px){


    .cabecalho{
        display: grid;
        grid-template-columns: 180px 1fr;    
    }
    
    .menu{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 0px;
        justify-content: end;
        margin-top: 35px;
    }

    .bio p{
        font-size: 24px;
        padding-top: 50px;
        max-width: 400px;
        line-height: 28px;
        color: #343434;
    }

    .bio h1{
        font-weight: 600;
        font-size: 3rem;
        color: #173756;
        margin-bottom: -10px;
    }
    
    
    .projetos p{
        padding-bottom: 50px;
        max-width: 400px;
        line-height: 28px;
        color: #343434;
        font-size: 20px;
    }

    #projeto{
        display: grid;
        place-content: center;
        font-size: 5em;
        font-weight: bolder;
        
        color: #FFD480;
    }
    .largura{
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .largura img{
        padding-top: 50px;
        margin-top: 50px;
        width: 100%;
    }

    .largura p{
        font-size: 20px;
        max-width: 350px;
        color: #000911;
        padding-left: 30px;
    }

    .largura h3{
        font-size: 25px;
        font-weight: 500;
        color: #79A5CF;
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 30px;
        border-top: 3px solid #09243F;
    }

    .cursos span{
        display: grid;
        background-color: #79A5CF;
        padding: 5px 10px;
        font-size: 24px;
        border-radius: 4px;
    }

    #formacao{
        color: #05192C;
        font-size: 5em;
        font-weight: bolder;
        padding-left: 30px;
    }

    #alinhando{
        padding-left: 40px;
    }


    .detalhes p{
        padding-top: 100px;
        max-width: 350px;
        color: #CCE5FD;
        padding-left: 50px;
        font-size: 18px;
    }

    .contatos a{
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        color: #CCE5FD;
        font-size: 20px;
    }
}


@media (max-width: 750px) and (min-width: 0px){
    .bio h1{
        font-weight: 600;
        font-size: 2rem;
        color: #173756;
        margin-bottom: -10px;
    }

    .bio h2{
        font-family: 'Roboto', sans-serif;
        color: #838383;
        font-weight: 200;
        font-size: 15px;
    }

    .bio p{
        font-size: 22px;
        padding-top: 50px;
        max-width: 400px;
        line-height: 28px;
        color: #343434;
    }

    .projetos p{
        padding-bottom: 50px;
        max-width: 400px;
        line-height: 28px;
        color: #343434;
        font-size: 19px;
    }

    #formacao{
        display: none;
        padding-left: 0px;
        margin: 0 auto;
    }

    #formacao-mobile{
        display: inline;
    }

    #alinhando{
        grid-template-columns: 1fr;
        padding-left: 0px;
    }

    .largura img{
        max-width: 450px;
    }

    .detalhes{
        grid-template-columns: 1fr;
        place-items: center;
    }

    #foto-alguma{
        max-width: 450px;
    }
        

}

@media (max-width: 600px) and (min-width: 0px){

    #logo{
        color: #173756;
        width: 300px;
        margin: auto;
        text-align: center;
    }

    .cabecalho{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 0px;
    }

    .menu{
        justify-content: center;
        margin-top: 35px;
        padding-left: 0px;
    }

    .projetos{
        grid-template-columns: 1fr;
        place-items: center;
        text-align: center;
    }

    .projetos h3{
        text-align: center;
        padding-left: 0px;
    }

    .info-bio{
        padding-left: 0px;
    }

    .bio{
        text-align: center;
        grid-template-columns: 1fr ;
    }

    .bio img{
        max-width: 400px;
        
    }

    aside{
        padding-left: 20px;
    }

    #projeto{
        padding-left: 0px;
        color: #FFD480;
    }

    .detalhes p{
        font-size: 20px;
    }

    .largura h4{
    font-size: 16px;

    }

    .largura p{
        font-size: 20px;
        padding-left: 0px;
    }

    .cursos{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .cursos span{
        font-size: 24px;
    }

    #formacao-mobile{
        font-size: 4em;
        text-align: center;
    }


}
@media (max-width: 450px) and (min-width: 0px){

    .largura{
        grid-template-columns:1fr;
        place-items: center;
        text-align: center;
  
    } 

    .largura h3{
        color: #79A5CF;
        border-top: none;
        
    }

    .cursos{
        padding-left: 0%;
    }

    .cursos span{
        font-size: 20px;
        
    }

    #formacao-mobile{
        font-size: 3em;
        text-align: center;
    }

    .contatos a{
        font-size: 16px;
    }
}
@media (max-width: 350px) and (min-width: 0px){
    .bio p{
        font-size: 20px;
    }

    .projetos p{
        font-size: 17px;
    }

    .largura p{
        font-size: 18px;
    }
}

