@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

p, a{
    text-decoration: none;
    font-size: 20px;
}

.titulos{
    color: seagreen;
}

.hoje{
    color:darkred;
}

.amanha{
    color: darkblue;
}